:root {
   /* Background Variables */
   --background-image: none; /* Background Image */
   --backdrop-filter: blur(10px) brightness(80%); /* Nav Backdrop filter */
   --background-nav: #1EC7B0; /* Nav Background */
   --background-color: #1EC7B0; /* Main Background Color */
   --background-input: #15a399; /* Input Field Background Color */
   --background-column: #1EC7B0; /* Background for Apps Container */
   --background-settings: #1EC7B0; /* Settings Card Background */
   --background-buttons: #23d9c3; /* Button Background Color */
   --tab-active-background: #2ee0cb; /* Accent Color for Tabs */
   --slider-active-background: #2ee0cb; /* Active Slider Background Color */
   --slider-inactive-background: #2ee0cb; /* Slider Background Color */
   --nav-image: url("/./assets/media/favicon/main.png"); /* Nav Logo */
   /* Text Variables */
   --text-primary: #ffffff; /* Primary Text Color */
   --text-dark: #0f5f57; /* Dark Text Color for Error Page, Scrollbar, and Particles */
   --text-placeholder: #00ffff; /* Placeholder Text Color */
   /* Other Variables */
   --tab-hover: #1a9b8a; /* Tab Color on Hover */
}

